:root{
    --fundo:#6495ED;
    --cor-frente: #9400D3;
    --cor-verso: #9400D3;
    --destaque: #9400D3;
    --preto:#000000;
    --branco: #ffffff;
}
body{
    background-color: var(--fundo);
    margin: 0;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--branco);
    color: var(--preto);
    width: 100%;
    text-align: center;
}

#container{
    padding: 4rem;
    display: flex;
    gap: 3rem;
}